/** 折叠标签 **/
details {
    display: block;
    padding: 16px;
    margin: 1em 0;
    border-radius: 4px;
    background: var(--bg-color);
    font-size: 14px;
    -webkit-transition: all .28s ease;
    -moz-transition: all .28s ease;
    -o-transition: all .28s ease;
    -ms-transition: all .28s ease;
    transition: all .28s ease;
    -moz-transition: all .28s ease;
    -webkit-transition: all .28s ease;
    -o-transition: all .28s ease;
    border: 1px solid var(--bg-color);
}

summary {
    display: list-item;
}

details summary {
    cursor: pointer;
    padding: 16px;
    margin: -16px;
    border-radius: 4px;
    color: var(--detailstxt-color);
    font-size: .875rem !important;
    font-weight: 700;
    position: relative;
    line-height: normal;
}

details > summary {
    background: var(--detailsbg-color);
}

details[open] {
    border-color: var(--detailsborder-color);
}

details[open] > summary {
    color: #444;
    margin-bottom: 0;
}

details[open] > summary {
    border-bottom: 1px solid var(--detailsborder-color);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* 折叠框、视频、音频标签点击时候会出现黑色边框，极不美观，去除 */
summary:focus {
    outline: none !important;
}

video:focus {
    outline: none !important;
}

audio:focus {
    outline: none !important;
}
