/** 小标签 **/
font {
    display: inline;
    padding: .2em .6em;
    font-size: 90%;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    /*white-space: nowrap;*/
    vertical-align: baseline;
    border-radius: .1rem;
    border-radius: 6px;
    background-color: var(--spannote-color);
}

font[title="red"] {
    background-color: #e91e64;
}

font[title="blue"] {
    background-color: #02aaf4;
}

font[title="yellow"] {
    background-color: #ffc50a;
}

font[title="green"] {
    background-color: #8bc34a;
}

font[title="gray"] {
    background-color: #4c4c4c;
}
