::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    transition: all 2s;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background-color: white;
}
