/* 侧边栏 */
.nav-group-item.active {
    color: black !important;
}

.typora-sourceview-on #toggle-sourceview-btn {
    color: black;
}

#typora-sidebar {
    background-color: transparent;
}

#typora-sidebar::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--sidebarbg-color);
    opacity: 0.8;
    z-index: -1;
}

.md-lang {
    color: #b4654d;
}

.info-panel-tab:hover {
    color: var(--para-color);
}


#outline-content .outline-item,
.file-library-file-node {
    border-radius: 0 16px 16px 0;
    margin-left: -28px;
    margin-right: 0 !important;
    text-overflow: ellipsis;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 28px solid transparent;
    padding-right: 28px;
    /*border-right: 28px solid transparent;*/
    transition: border-radius, width .15s cubic-bezier(0.4, 0, 0.2, 1), margin .15s cubic-bezier(0.4, 0, 0.2, 1), width .15s cubic-bezier(0.4, 0, 0.2, 1);
}

#outline-content .outline-item:hover, .file-library-file-node:hover {
    opacity: 1 !important;
    border-radius: 0 16px 16px 0;
    background-color: var(--sidebar-hover-bg-color);
}

#outline-content .file-library-file-node.active {
    border-radius: 0 16px 16px 0;
    background-color: var(--sidebar-active-bg-color);
}

#outline-content .outline-item:not(.outline-item-active), .file-library-file-node:not(.active) {
    opacity: .6;
}

#outline-content .outline-item-active, .file-library-file-node.active {
    border-radius: 0 16px 16px 0;
    background-color: var(--sidebar-active-bg-color);
}

#file-library-list  file-list-item:hover {
    opacity: 1 !important;
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

#file-library-list  .file-list-item:not(.active) {
    opacity: .6;
}

#file-library-list   file-list-item.active {
    background-color: var(--sidebar-active-bg-color);
}

/* 树文件列表 */
.file-tree-node.active > .file-node-background {
    border: none !important;
    background: none !important;
}

.file-node-title * {
    color: var(--body-color);
}

.file-action-item {
    color: var(--body-color);
}

/* .use-file-tree-style .file-library-file-node:hover {
    opacity: 1 !important;
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
} */

/* 搜索框 */
.file-library-search {
    height: 60px;
}

#file-library-search-panel {
    padding-bottom: 10px;
}

#file-library-search-input {
    opacity: .8;
    padding: 10px 10px;
    background: var(--file-library-search-input-focus-color);
    border-radius: 8px;
    border: 1px solid transparent;
    transition: background, padding 200ms ease-in, width 200ms ease-out;
}

#file-library-search-input:focus {
    padding: 15px 10px;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px 0 rgb(65 69 73 / 30%), 0 1px 3px 1px rgb(65 69 73 / 15%);
}

#close-outline-filter-btn,
#filesearch-word-option-btn,
#filesearch-regexp-option-btn,
#filesearch-case-option-btn {
    transition: padding 200ms ease-in-out;
}

#file-library-search-input:focus ~ #close-outline-filter-btn,
#file-library-search-input:focus ~ #filesearch-word-option-btn,
#file-library-search-input:focus ~ #filesearch-regexp-option-btn,
#file-library-search-input:focus ~ #filesearch-case-option-btn {
    padding-top: 5px;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 20%);
}
