/** 任务列表小方框 **/
.md-task-list-item > input {
    margin-left: -1.3em;
    margin-top: 0.4rem;
    -webkit-appearance: none;
}

.md-task-list-item > input:before {
    content: '';
    display: inline-block;
    width: 0.875rem;
    height: 0.875rem;
    vertical-align: middle;
    text-align: center;
    font-size: 0.8rem;
    color: white;
    border-radius: 2px;
    /*background-color: white;*/
    border: 1px solid var(--taskborder-color);
    margin-top: -0.4rem;
    transition: all 0.2s linear;
}

.md-task-list-item > input:checked:before,
.md-task-list-item > input[checked]:before {
    content: '\2714';
    font-size: 0.625rem;
    color: white;
    border: 1px solid var(--taskfocus-color);
    background-color: var(--taskfocus-color);
    line-height: .8rem;
}

.md-task-list-item:before {
    content: none !important;
}

#write input[type=checkbox] {
    position: absolute;
    top: 6px;
    left: -6px;
    background-color: inherit;
}

.md-task-list-item.task-list-done {
    text-decoration: line-through;
    color: #999;
}

.md-task-list-item.task-list-done span {
    color: #999;
}
